---
import Layout from "../layouts/Layout.astro";
import KeyInput from "../components/KeyInput/KeyInput";
import GenreSelect from "../components/GenreSelect/GenreSelect";
import AdventureTime from "../templates/AdventureTime";
import Intro from "../components/Intro/Intro";
---

<Layout title="Adventure Time!">
  <main>
    <Intro client:load />
    <KeyInput client:load />
    <GenreSelect client:load />
    <AdventureTime client:load />
  </main>
</Layout>

<style>
  main {
    max-width: 540px;
    margin: 0 auto;
    display: grid;
    place-items: center;
    color: white;
  }
</style>
