---
import Layout from "../layouts/Layout.astro";
import Prompt from "../components/Prompt/Prompt.tsx";
import ChoiceGroup from "../components/ChoiceGroup/ChoiceGroup.tsx";
import { GoogleGenerativeAI } from "@google/generative-ai";

// async function run() {
//   const genAI = new GoogleGenerativeAI(import.meta.env.GEMINI_API_KEY);
//   // For text-only input, use the gemini-pro model
//   const model = genAI.getGenerativeModel({ model: "gemini-pro" });

//   const prompt = `You are now an API for a text-based choose your own adventure game that returns JSON responses. You will respond with absolutely nothing but valid JSON. The game will be set in a fantasy world inspired by authors like Brandon Sanderson, offering a rich and immersive experience. You will use your knowledge and language capabilities to:
// Generate engaging and descriptive narrative passages, transporting the player to fantastical locations and immersing them in the story.
// Offer the player meaningful choices that impact the story's direction, including moral dilemmas, exploration options, and combat decisions.
// Track the player's progress and adjust the narrative accordingly, ensuring their choices have lasting consequences.
// Respond to player input in a natural and interactive way, seamlessly blending dark and humorous elements to create a dynamic and engaging tone.
// Output all responses in JSON format, including narrative text, available choices, and any relevant game state information, to ensure smooth integration with the front-end application.
// Additionally, consider the following:
// Explore interesting fantasy elements and themes, such as unique magic systems, mythical creatures, and political intrigue. The story should take place in the Meow Wolf universe.
// IMPORTANT: return response in JSON format [{}]
// DO NOT INCLUDE BACKTICKS IN THE RESPONSE
// sample response: 
// {
//   "narrative": "creative narrative here",
//   "choices": [
//     {
//       "text": "Choice 1",
//       "next": "choice_1"
//     },
//     {
//       "text": "Choice 2",
//       "next": "choice_2"
//     }
//   ]
// }
// `;

//   const result = await model.generateContent(prompt);
//   const response = await result.response.text();
//   return response;
// }

// const data = await run();
// const story = JSON.parse(data);
// const story = {
//   narrative:
//     "creative response",
//   choices: [
//     {
//       text: "Choice 1",
//       next: "choice_1",
//     },
//     {
//       text: "Choice 2",
//       next: "choice_2",
//     },
//   ],
// };
---

<Layout title="Adventure Time!">
  <main>
    <Prompt client:load />
    <aside>
      <ChoiceGroup client:load />
    </aside>
  </main>
</Layout>

<style>
  aside {
    display: flex;
    justify-content: space-evenly;
  }

  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  
</style>
